.products-admin {
  padding: 20px;
}

.products-table {
  width: 100%;
  background: var(--header-bg);
  border-radius: 15px;
}

.products-table th, .products-table td {
  padding: 10px;
  border: 1px solid var(--border-color);
  text-align: center;
  border-radius: 10px;
}

.table-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.actions svg {
  cursor: pointer;
  margin: 0 6px;
}

.edit { color: #007bff; }
.delete { color: red; }

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-box {
  background: white;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-form input,
.modal-form textarea {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}
