.loader-container{
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader{
    border: 4px solid #f3f3f3;
    border-top: 4px solid var(--accent-color);
    border-radius: 50%;
    width: 40px;;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin{
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}


.notfound ,.empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notfound h2 , .empty h2{
    color: var(--accent-color);
}