.admin-dashboard {
  display: grid ;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:60px  1fr;
  grid-template-areas:
    "header header"
    "sidebar dashboard-content";
  
}

.dashboard-content {
  grid-area: dashboard-content;
  background-color: var(--body-bg);
}

@media(max-width:480px)
{
  .admin-dashboard{
      grid-template-columns: 1fr;
      grid-template-rows: 60px 30px 1fr;
      grid-template-areas: 
      "header"
      "sidebar"
      "dashboard-content";
  }  
}

