.admin-dashboard {
  display: grid ;
  grid-template-columns: 1fr 4fr;
  grid-template-rows:60px  1fr;
  grid-template-areas:
    "header header"
    "sidebar dashboard-content";
  
}

.dashboard-content {
  margin-top: 20px;
  grid-area: dashboard-content;
  padding: 20px 0px 20px 20px;
  background-color: var(--body-bg);
}

