.sidebar-filter{
  margin: 0px;
  padding: 30px;
  background-color: var(--header-bg);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

.sidebar-filter h3 {
  color: var(--accent-color);
  margin-bottom: 12px;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}

.filter-section {
  margin-bottom: 16px;
}

.filter-section h4 {
  margin-bottom: 6px;
  font-size: 15px;
  color: var(--header-text);
}

.filter-section select,
.filter-section input[type="range"] {
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  background-color: var(--body-bg);
  color: var(--body-text)
}

.filter-section select:focus {
  border-color: #ff8c00;
}

.filter-section p {
  font-size: 13px;
  margin-top: 6px;
  color: #444;
}

/* ---------- MOBILE ---------- */
@media (max-width: 768px) {
  .sidebar-filter {
    padding: 15px;
  }
}
