.category h2{
    margin: 10px 0px;
}

.categories-box{
    width: 100%;
    display: grid;
    grid-template-rows:repeat(2, 200px);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "electronics books furniture"
        "fashion appliances appliances";
    gap: 25px;
}
.electronics{
    grid-area: electronics;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 2px 1px 0px rgb(15, 9, 9);
}
.electronics img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.fashion{
    grid-area: fashion;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 2px 1px 0px rgb(15, 9, 9);
}
.fashion img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.furniture{
    grid-area: furniture;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 2px 1px 0px rgb(15, 9, 9);
}
.furniture img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.appliances{
    grid-area: appliances;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 2px 1px 0px rgb(15, 9, 9);
}
.appliances img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.books{
    grid-area: books;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 1px 2px 1px 0px rgb(15, 9, 9);
}
.books img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (max-width: 780px){
    .categories-box{
        padding: 0px;
        grid-template-rows:repeat(2, 130px);
        gap:20px;
    }
    
}
@media (max-width: 480px){
    .categories-box{
        padding: 0px;
        grid-template-rows:repeat(2, 90px);
        gap:10px;
    }
    
}