.footer {
  width: 100%;
  padding: 10px;
}

.footer-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  display: flex;
  flex-direction: column;
  width: 22%;
  min-width: 230px;
  margin-bottom: 15px;
}

.footer-section h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color:  var(--accent-color);
}

.footer-section h4 {
  font-size: 18px;
  margin-bottom: 12px;
  border-left: 3px solid var(--accent-color);
  padding-left: 8px;
}

/* =======================
   TEXT & LIST STYLE
======================= */
.footer-section p {
  line-height: 1.6;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-section ul li {
  margin: 10px 0;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section ul li:hover{
  color: #ff9800;
  padding-left: 5px;
}

/* =======================
   SOCIAL ICONS
======================= */
.footer-socials svg {
  font-size: 24px;
  margin-right: 12px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.footer-socials svg:hover {
  color: #ff9800;
  transform: scale(1.1);
}

/* =======================
   BOTTOM COPYRIGHT
======================= */
.footer-bottom {
  width: 100%;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-top: 1px solid var(--header-text);
}

/* =======================
   RESPONSIVE DESIGN
======================= */
@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-section {
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .footer-section ul li {
    text-align: center;
  }

  .footer-socials {
    justify-content: center;
  }
}

@media(max-width : 480px)
{
  .footer-section ul li {
    font-size: 12px;
  }
  .footer-section h3{
    font-size: 16px;
  }
  .footer-section p{
    font-size: 12px;
  }
  .footer-section h4 {
    font-size: 14px;
    margin-bottom: 8px;
    border-left: 3px solid var(--accent-color);
    padding-left: 8px;
  }
}
