.product-container {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.product-form {
  width: 430px;
  padding: 5px 10px;
  border-radius: 15px;
}

.product-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-weight: 700;
}

.product-form label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
  color: #444;
  font-weight: 600;
}

.product-form input,
.product-form textarea {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  outline: none;
  transition: 0.3s ease;
}

.product-form input:focus,
.product-form textarea:focus {
  border-color: #6c63ff;
  box-shadow: 0px 0px 4px rgba(108, 99, 255, 0.5);
}

.product-form textarea {
  min-height: 80px;
  resize: none;
}

.image-preview-box {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.preview-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.btn-submit {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: none;
  background: #6c63ff;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.btn-submit:hover {
  background: #584ff0;
}
