.section-title {
    margin-top: 20px;
    font-size: 24px;
    text-align: left;
}
.all-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.product-card{
    display: flex;
    gap: 20px;
    position: relative;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: var(--header-bg);
    transition: transform 0.2s;
}
.product-image{
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.product-details-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-icons{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}
.edit-icon{
    cursor: pointer;
    color: #2196F3;
}
.delete-icon{
    cursor: pointer;
    color: red;
}
.create-button{
    position: absolute;
    top: 90px;
    right: 20px;
}
.create-button button{
    padding: 8px 20px;
    width: auto;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}