.home-section {
  text-align: left;
  padding: 80px 20px;
  background: linear-gradient(120deg, #74b9ff, #0984e3);
  color: white;
}

.home_content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.home_content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.home_content button {
  background: #fff;
  color: #0984e3;
  border: none;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.home_content button:hover {
  background: #0a3d62;
  color: #fff;
}
