.page-layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 25px 1fr;
  grid-template-areas:
    "header"
    "menu-bar"
    "main";
  font-size: 12px;
}

header {
    width: 100%;
    height: 60px;
  grid-area: header;
  position: fixed;
  top: 0px;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
.menu-bar {
  width: 100%;
  height: 25px;
  grid-area: menu-bar;
  position: fixed;
  top: 60px;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
main {
  width: 100%;
  height: calc(100vh - 85px);
  grid-area: main;
  overflow-y: auto;
}
