
.section-1{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    background-color: rgb(184, 215, 241);
    border-radius: 5px;
}
.home-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-left h2{
    color: rgb(255, 255, 255);
    font-size: 150%;
    margin-left: 10px;
}
.home-right img{
    width: 100%;
    height: 100%;
}

/*Main section of the home page*/
main{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin: 20px;
}
main .cnt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  width: 300px;
}
.cnt h1{
  font-size: 40px;
}
.cnt h1 span{
  color: rgb(255, 123, 0);
}
.cnt h4{
  margin-top: 15px;
}
.cnt p{
  margin-top: 15px;
  font-size: 14px;
}
main img{
  width: 400px;
  height: 400px;
  border-radius: 200px;
}
main button{
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: #b61313;
  border-radius: 8px;
  width: 100px;
  padding: 6px 5px;
  border: none;
  margin-top: 15px;
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
main button span{
  color: white;
}