*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: background-color 0.3s ease, 
              color 0.3s ease, 
              border-color 0.3s ease;
}

/* Body takes full height */
body, html {
  height: 100%;
  background: var(--body-bg);
  color: var(--body-text);
}

::-webkit-scrollbar{
  display:none;
}
.links a,a{
  text-decoration: none;
  color: var(--header-text);
}


/* ---------- LIGHT MODE ---------- */
:root[data-theme='light'] {
  --header-bg: #ffffff;
  --header-text: #1a1a1a;

  --body-bg: #f7f7f7;
  --body-text: #222222;

  --link-text: #1a1a1a;

  --footer-bg: #ffffff;
  --footer-text: #111827;

  --accent-color: rgb(255, 177, 8);
  --border-color: #e5e7eb;

  --dot-color: #333;
  --dot-active-color: #000;
}

/* ---------- DARK MODE ---------- */
:root[data-theme='dark']{
  --header-bg: #010102;
  --header-text: #fff;

  --body-bg: #0f172a;
  --body-text: #fff;

  --link-text: #fff;

  --footer-bg: #010102;
  --footer-text: #fff;

  --accent-color:  rgb(255, 177, 8);
  --border-color: #334155;

  --dot-color: #bbb;
  --dot-active-color: #fff;
}

/* HEADER */
header {
  background: var(--header-bg);
  color: var(--header-text);
}


/* FOOTER */
footer {
  background: var(--footer-bg);
  color: var(--footer-text);
}

/* Accent (buttons, links, highlights) */
.accent {
  color: var(--accent-color);
}


/*home.css*/

.homepage-layout{
    width: 100vw;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
@media(max-width : 480px)
{
    .homepage-layout{
        margin-top: 5px;
        padding: 3px;
    }
    .homepage-layout h2{
        font-size: 14px;
    }
}