/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background: var(--header-bg);
  color: var(--header-text);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid var(--border-color);
}

/* LOGO */
.logo h2 {
  font-size: 24px;
  color: var(--header-text);
}

.logo span {
  color: var(--accent-color);
}

/* SEARCH BAR */
.search {
  position: relative;
  width: 250px;
}

.search-bar input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  border-radius: 40px;
  background: var(--body-bg);
  color: var(--header-text);
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: var(--header-text);
}

/* NAV LINKS */
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links .nav-link {
  width: 100%;
  position: relative;
  font-size: 16px;
  color: var(--link-color);
  text-decoration: none;
  padding-bottom: 12px;
  transition: color .3s;
}
.nav-links .nav-link.active {
  background-color: var(--body-bg);
  color: var(--link-color);
}

.icons{
  display: flex;
  justify-items: center;
  gap:15px;
}
.icon{
  font-size: 25px;
  cursor: pointer;
  color: var(--header-text);
}
.profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 30px 20px;
  background: var(--header-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 180px;
}


/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 24px;
  height: 3px;
  transition: 0.3s;
}

/* RESPONSIVE FOR TABLET/MOBILE */
@media (max-width: 900px) {
  header{
    justify-content: right;
    align-items: center;
    gap: 25px;
    }
    header .logo{
      position: absolute;
      left: 20px;
    }
    .search {
      width: 200px;
    }

  .nav-links {
    position: fixed;
    top: 70px;
    right: -100%;
    width: 250px;
    height: calc(100vh - 70px);
    background: var(--header-bg);
    flex-direction: column;
    padding: 20px;
    gap: 25px;
    transition: 0.3s;
    border-left: 1px solid var(--border-color);
  }

  .nav-links.open {
    right: 0;
  }

  .hamburger {
    display: flex;
  }
}

/* MOBILE 500px */
@media (max-width: 500px) {
  header.header {
    padding: 0 10px;
  }

  .logo h2 {
    font-size: 20px;
  }
}
