header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
}
.header-left{
  margin-right: auto;
}
.header-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}
.main-logo h1 {
  color: var(--accent-color);
  font-size: 30px;
}

/* SEARCH BAR */
.search-bar {
  position: relative;
  width: 350px;
}
.search-bar input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid var(--border-color);
  border-radius: 40px;
  background: var(--body-bg);
  color: var(--header-text);
  font-size: 15px;
}
.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: var(--header-text);
}

.icons{
  display: flex;
  justify-items: center;
  gap:25px;
}
.icon{
  font-size: 30px;
  cursor: pointer;
  color: var(--header-text);
}
.profile-dropdown{
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 30px 20px;
  background: var(--header-bg);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 180px;
  z-index: 1100;
}
.logout ,.profile,.settings{
  cursor: pointer;
}

/* RESPONSIVE FOR TABLET/MOBILE */
@media (max-width: 900px) {
    
    .main-logo h1{
      font-size: 25px;
    }
    .search {
      width: 200px;      
    }
    .search-bar input {
      font-size: 13px;
      padding: 8px 15px;
    }
    .icon{
      font-size: 25px;
    }
}

/* MOBILE 500px */
@media (max-width: 500px) {
  header{
    padding: 0 10px;
  }

  .main-logo h2 {
    font-size: 20px;
  }
}
