.wishlist-container{  
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  overflow-y: auto;
}

/* PRODUCT CARD */
.wishlist-container .product
 {
  display: flex;
  gap: 5px;
  background: var(--header-bg);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

/* PRODUCT IMAGE */
.wishlist-container .product img{
  width: 100%;
  height: 150px;
  border-radius: 8px;
}

/* PRODUCT CONTENT */
.wishlist-container .content{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.wishlist-container .content p{
  font-weight: bold;
  color: #2e7d32;
  margin: 4px 0;
}

/* MOBILE */
@media (max-width: 768px) {
  .wishlist-container{
    grid-template-columns: repeat(4, 1fr); /* 2 per row on mobile */
  }

  .wishlist-container .product img{
    height: 120px;
  }  
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .wishlist-container{
    grid-template-columns: repeat(2, 1fr);
  }

  .wishlist-container .product img{
    height: 100px;
  }
}
