.wishlist-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}

.wishlist-card {
  background: var(--header-bg);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.wishlist-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.wishlist-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.wishlist-card h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0;
  text-align: center;
  color: var(--header-text);
}

.wishlist-card p {
  color: #388e3c;
  font-weight: bold;
  margin-bottom: 10px;
}

.wishlist-card button {
  background: #ff3f6c;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.wishlist-card button:hover {
  background: #e62e5c;
}

/* Empty message */
.wishlist-empty {
  text-align: center;
  font-size: 20px;
  color: #555;
  margin-top: 100px;
}

/* Responsive */
@media (max-width: 768px) {
  .wishlist-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .wishlist-container {
    grid-template-columns: repeat(2,1fr);
  }
}
