.all-categories {
  padding: 10px;
}
.category-list{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category-section {
  display: grid;
  background: var(--header-bg);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.category-section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--body-bg);
  color: var(--header--text);
}

.edit-sub {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.edit-sub button {
  background: #0d6efd;
  height: 30px;
  width: 50px;
  color: white;
  border: none;
  border-radius: 4px;
}

.category-section ul {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding:5px;
}

.category-section ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.category-section ul li button {
  color: red;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.category-section .actions {
  height: 30px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.update-btn {
  width: 70px;
  height: 100%;
  border-radius: 5px;
  background: green;
  color: white;
}
.cnl-btn{
  background-color: rgba(187, 174, 174, 0.418);
  color: white;
  width: 70px;
  height: 100%;
  border-radius: 5px;
}
