.all-categories {
  padding: 10px;
}
.category-list{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.category-section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0,0,0,0.1);
}

.category-section input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.edit-sub {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.edit-sub button {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
}

ul {
  padding-left: 20px;
}

ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

ul li button {
  color: white;
  border: none;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.actions button {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.update-btn {
  background: green;
  color: white;
}
