.category-card {
  width: auto;
  height: auto;
  margin: 40px ;
  padding: 25px;
  border-radius: 10px;
  background: var(--header-bg);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.category-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--header-text);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input {
  background-color: var(--body-bg);
  color: var(--header-text);
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  outline: none;
}

.sub-input {
  display: flex;
  gap: 10px;
}

.sub-input button {
  background: #0d6efd;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.sub-list {
  margin-top: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

.sub-item {
  border: 1px solid var(--border-color);
  margin: 5px;
  width: max-content;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  position: relative;
}

.remove-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: none;
  background-color: none;
}

.create-btn {
  width: 100%;
  padding: 10px;
  background: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn:hover {
  background: #218838;
}
