.category-card {
  width: 400px;
  height: 400px;
  margin: 40px auto;
  padding: 25px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.category-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

.sub-input {
  display: flex;
  gap: 10px;
}

.sub-input button {
  background: #0d6efd;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.sub-list {
  margin-top: 10px;
  border: 1px solid #ddd;
  
}

.sub-item {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  margin: 5px;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  border-radius: 5px;
  padding: 4px 8px;
  position: relative;
}

.remove-btn {
  position: absolute;
  top: -25px;
  right: -2px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.create-btn {
  width: 100%;
  padding: 10px;
  background: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.create-btn:hover {
  background: #218838;
}
